.logo {
    /* max-width: 150px; */
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;

}
.nav-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 28px;
    transition: all ease 0.5s !important;
}
.footer-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 28px;
    transition: all ease 0.5s !important;
}
.nav-link:hover{
    opacity: 0.7  !important;
    transition: all ease 0.5s;

}
.social-icons a {
    background-color: white;
    color: #04c6b2;
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
}
.social-icons a i {
    background-color: white;
    color: #04c6b2;
    border-radius: 50%;
    padding: 5px;
    display: block;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
}
.footer-container{
    background-color: #04c6b2;
    color: white;
}
.list-unstyled li{
    width: 100%;
    padding: 0 0 13px;
}
.list-unstyled{
    margin-top: 20px;
}
.f-mb-3{
    margin-bottom: 12px;
}